* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
  font-size: 1em;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10000; /* needs to be higher than everything else */
}

#loading-screen-invisible:not(:checked) + #loading-screen {
  visibility: visible;
  opacity: 1;
}

#loading-screen-invisible:checked + #loading-screen {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s linear 0s, visibility 0s linear 1s;
}

#spinner1 {
	display: none;
  margin: -3em 0 0 -3em;
	width: 6em;
	height: 6em;
  border-top-color: #009fe3;
  border-bottom-color: #009fe3;
  animation-duration: 1s;
  animation-name: rotate-right;
  animation-timing-function: ease;
}

#spinner2 {
	display: none;
  margin: -4em 0 0 -4em;
	width: 8em;
	height: 8em;
  border-left-color: #009fe3;
  border-right-color: #009fe3;
  animation-duration: 2s;
  animation-name: rotate-right;
  animation-timing-function: linear;
}

.spinners {
  display: block;
	position: absolute;
	left: 50%;
	top: 40%;
	border: 0.5em solid transparent;
  border-radius: 100%;
  animation-iteration-count: infinite;
}

@keyframes rotate-right {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@keyframes rotate-left {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#loading-perentage {
	display: none;
  justify-content: center;
  align-content: center;
	margin: -3em 0 0 -3em;
	width: 6em;
	height: 6em;
	text-align: center;
	color: rgba(0, 0, 0, 0.25);
}

#loading-perentage p {
	font-family: sans-serif;
	font-size: 2.5em;
	line-height: 2.5em;
}
