@font-face {
    font-family: RobotoThin;
    src: url(../fonts/roboto-hinted/Roboto-Thin.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(../fonts/roboto-hinted/Roboto-Light.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(../fonts/roboto-hinted/Roboto-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
  color: #444444;
}

h1 {
  font-family: RobotoThin;
  text-align: center;
  color: white;
  display: inline-block;
  width: 90%;
  margin-left: -5%;
  margin-bottom: -0.5em;
  vertical-align: middle;
  pointer-events: none;
}

h2 {
  font-family: RobotoLight;
  margin-top: 2em;
  margin-bottom: 0.2em;
}

p {
  font-family: RobotoRegular;
}

#text-section {
  width: 70%;
  margin: 5em auto;
}

#header, #footer {
  background-color: #009FE3;
}

#footer {
  text-align: center;
  color: white;
}

#footer a {
  color: white;
  line-height: 2em;
  font-family: RobotoRegular;
}

#back-button {
  font-size: 2em;
  color: white;
  line-height: 2em;
  display: inline-block;
  width: 9%;
  text-align: center;
  transition: color 0.4s;
}

#back-button:hover {
  color: #C5DFEA;
}

#language-selection {
  position: relative;
  float: right;
  margin: 1em 5em 0 0;
}

#tiles-sample {
  margin: 1em 0;
  text-align: center;
}

#tiles-attribution {
  font-size: 0.9em;
}
