.leaflet-routing-container, .leaflet-routing-error {
    width: auto;
    background-color: white;
    transition: all 0.5s ease;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .3) !important;
    height: 100%;
    /* the max-height property is neccessary to prohibit
    the container from growing outside the screen, but
    the animate() function seems to start animating from here */
    /* max-height: 15em; */
    overflow: hidden;
    background-color: white;
    color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.5s, box-shadow 0.3s;
}

.leaflet-routing-container-focus {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, .3) !important;
}

.leaflet-control-container .leaflet-routing-container-hide {
    width: 32px;
    height: 32px;
}

.leaflet-routing-container h2 {
    font-size: 14px;
}

.leaflet-routing-container h3 {
    font-size: 12px;
    font-weight: normal;
}

.leaflet-routing-collapsible .leaflet-routing-geocoders {
    margin-top: 20px;
}

.leaflet-routing-alt, .leaflet-routing-geocoders, .leaflet-routing-error {
    border-bottom: none;
    transition: all 0.2s ease;
    text-align: center;
    box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, .2);
    margin-bottom: 1em;
}

.leaflet-routing-alt {
    padding: 0 3.5em 0 3.5em;
}

.leaflet-routing-alternatives-container {
    display: none;
}

#leaflet-routing-alternatives-container {
    height: 3em;
    width: 100%;
    background-color: white;
    display: none;
    overflow: hidden;
    position: absolute;
    top: 10em;
}

.leaflet-control-container .leaflet-routing-container-hide .leaflet-routing-alt,
.leaflet-control-container .leaflet-routing-container-hide .leaflet-routing-geocoders {
    display: none;
}

.leaflet-bar .leaflet-routing-alt:last-child {
    border-bottom: none;
}

.leaflet-routing-alt-minimized {
    display: none;
    color: #888;
    max-height: 64px;
    overflow: hidden;
    cursor: pointer;
}

.leaflet-routing-alt table {
    border-collapse: collapse;
    position: relative;
    transition: top 0.3s;
    margin: 0 auto;
}

.leaflet-routing-alt h2,
.leaflet-routing-alt h3 {
  display: none;
}

.leaflet-routing-alt table tbody tr {
  height: 3em;
}

.leaflet-routing-alt::-webkit-scrollbar {
    width: 8px;
}

.leaflet-routing-alt::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: #eee;
}

.leaflet-routing-alt::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #888;
}

.leaflet-routing-icon {
    -webkit-background-size: 2em 2em;
    background-size: 2em 2em;
    background-repeat: no-repeat;
    margin: 0;
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 2em;
    height: 2em;
}

.leaflet-routing-icon-continue         { background-image: url("/svg/route/continue.svg"); }
.leaflet-routing-icon-sharp-right      { background-image: url("/svg/route/sharp-right.svg"); }
.leaflet-routing-icon-turn-right       { background-image: url("/svg/route/turn-right.svg"); }
.leaflet-routing-icon-bear-right       { background-image: url("/svg/route/bear-right.svg"); }
.leaflet-routing-icon-u-turn           { background-image: url("/svg/route/u-turn.svg"); }
.leaflet-routing-icon-sharp-left       { background-image: url("/svg/route/sharp-left.svg"); }
.leaflet-routing-icon-turn-left        { background-image: url("/svg/route/turn-left.svg"); }
.leaflet-routing-icon-bear-left        { background-image: url("/svg/route/bear-left.svg"); }
.leaflet-routing-icon-depart           { }
.leaflet-routing-icon-enter-roundabout { background-image: url("/svg/route/enter-roundabout.svg"); }
.leaflet-routing-icon-arrive           { }
.leaflet-routing-icon-via              { background-image: url("/svg/route/via.svg"); }

.leaflet-routing-geocoders div {
    padding: 0 0 1em 0;
}

.leaflet-routing-geocoders input {
    width: 100%;
    height: 2em;
    border: 0px solid #ccc;
    font-size: 1em;
    background-color: white;
    padding: 0 0 0 3.5em;
    box-sizing: border-box;
}

#search-route-checkbox:checked + #search-container .leaflet-routing-geocoders input {
  width: 94%;
  padding: 0;
}

/* the following placeholder roules strangely can not
  be combined, else they do not work */
.leaflet-routing-geocoders input::-moz-placeholder {
  opacity: 0.5;
  color: black;
}

#search-route-checkbox:checked + div div .leaflet-routing-geocoders input::-moz-placeholder {
  /*opacity: 0.7;
  color: white;*/
}

.leaflet-routing-geocoders input::-webkit-input-placeholder {
  opacity: 0.5;
  color: black;
}

#search-route-checkbox:checked + div div .leaflet-routing-geocoders input::-webkit-input-placeholder {
  /*opacity: 0.7;
  color: white;*/
}

.leaflet-routing-geocoders input:focus,
#distanceMeterManualInput:focus {
  outline: none;
}

.leaflet-routing-geocoders .leaflet-routing-geocoder:first-child {
  padding-top: 0.5em;
}

#search-route-checkbox:checked + div div .leaflet-routing-geocoders input {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.leaflet-routing-geocoders button {
    font: bold 18px 'Lucida Console', Monaco, monospace;
    border: none;
    border-radius: 100%;
    background-color: #009fe3;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 2.4em;
    height: 2.4em;
    color: white;
    top: 1.2em;
    position: relative;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
}

.leaflet-routing-add-waypoint:after {
    content: '+';
}

.leaflet-routing-reverse-waypoints:after {
    font-weight: normal;
    content: '\21c5';
}

.leaflet-routing-geocoders input,.leaflet-routing-remove-waypoint,.leaflet-routing-geocoder {
    position: relative;
}

.leaflet-routing-geocoder-result {
    position: absolute;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: 9990; /* Arbitrary, but try to be above "most" things. */
    box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
    left: 0 !important;
		width: 100% !important;
}

.leaflet-routing-geocoder-result table {
    width: 100%;
    border: 0px solid #ccc;
    background-color: white;
    cursor: pointer;
    line-height: 120%;
}

.leaflet-routing-geocoder-result table tr td {
	padding: 0.4em 0em 0.4em 2em;
  display: flex;
}

.leaflet-routing-geocoder-result table {
	border-spacing: 0;
}

.leaflet-routing-geocoder-result-open {
    max-height: 800px;
}

.leaflet-routing-geocoder-selected, .leaflet-routing-geocoder-result tr:hover {
    background-color: #eee;
}

.leaflet-routing-geocoder-no-results {
    font-style: italic;
    color: #888;
}

.search-result-icon {
    width: 1em;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.search-result-icon-place::before {
  font-size: 1.2em !important;
}

.search-result-icon-museum::before {
  font-size: 0.9em !important;
}

.search-result-text {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.95em;
}

.leaflet-routing-remove-waypoint {
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;
}

input:hover + .leaflet-routing-remove-waypoint, .leaflet-routing-remove-waypoint:hover {
    display: inline-block;
}

.leaflet-routing-remove-waypoint,
#search-route-checkbox:not(:checked) + div div .leaflet-routing-geocoders input:hover + .leaflet-routing-remove-waypoint,
#search-route-checkbox:not(:checked) + div div .leaflet-routing-geocoders input + .leaflet-routing-remove-waypoint:hover {
    display: none;
}

.leaflet-routing-remove-waypoint:after {
    position: absolute;
    display: block;
    width: 15px;
    height: 1px;
    z-index: 1;
    right: 1px;
    top: 4px;
    bottom: 0;
    margin: auto;
    padding: 0 0.1em;
    font-size: 1.3em;
    font-weight: bold;
    content: "\00d7";
    text-align: center;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
    background: transparent;
    padding-bottom: 16px;
    margin-top: -16px;
    padding-right: 4px;
    line-height: 1;
}

.leaflet-routing-remove-waypoint:hover {
    color: black;
}

.leaflet-routing-instruction-distance {
    width: 48px;
}

.leaflet-routing-collapse-btn {
    position: absolute;
    top: 0;
    right: 6px;
    font-size: 24px;
    color: #ccc;
    font-weight: bold;
}

.leaflet-routing-collapse-btn:after {
    content: '\00d7';
}

.leaflet-routing-container-hide .leaflet-routing-collapse-btn {
    position: relative;
    left: 4px;
    top: 4px;
    display: block;
    width: 26px;
    height: 23px;
    background-image: url('../images/routing-icon.png');
}

.leaflet-routing-container-hide .leaflet-routing-collapse-btn:after {
    content: none;
}

.leaflet-top .leaflet-routing-container.leaflet-routing-container-hide {
    margin-top: 10px !important;
}
.leaflet-right .leaflet-routing-container.leaflet-routing-container-hide {
    margin-right: 10px !important;
}
.leaflet-bottom .leaflet-routing-container.leaflet-routing-container-hide {
    margin-bottom: 10px !important;
}
.leaflet-left .leaflet-routing-container.leaflet-routing-container-hide {
    margin-left: 10px !important;
}

#startMyLocation {
  position: absolute;
  width: 2em;
  height: 1.9em;
  top: 7.3em;
  right: 2.9%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  z-index: 2;
}

#leaflet-routing-geocoders-title {
  width: 94%;
  margin: auto;
  margin-top: 1em;
}

#distanceMeter {
    display: flex;
    flex-wrap: wrap;
    width: 94%;
    margin: 0 auto 3.5em auto;
    padding: 0.5em 0;
}

#leaflet-routing-geocoders-title h3,
#distanceMeter h3 {
  font-size: 1.3em;
}

#leaflet-routing-geocoders-title p,
#distanceMeter p {
  width: 100%;
  padding-bottom: 0.3em;
  font-size: 0.85em;
}

#distanceMeter  input:checked + label,
#distanceMeter  input:checked + label input {
  border-bottom: 2px solid #009fe3;
}

.distanceMeterSelection {
    width: 25%;
    text-align: center;
    font-size: 0.83em;
}

.distanceMeterSelection,
#distanceMeterManual input {
  transition: background-color 0.4s;
}

.distanceMeterSelection:hover,
#distanceMeterManual:hover input {
  border-bottom: 2px solid rgba(0, 0, 0, .1);
}

.svg-distanceMeter {
  width: 2em;
  height: 2em;
  display: block;
  margin: auto;
}

#distanceMeterManual input {
  width: 80%;
  height: 1.7em;
  border-width: 0;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  text-align: center;
}
