#loading-bar .nanobar .bar {
    background: #38f;
    border-radius: 4px;
    box-shadow: 0 0 10px #59d;
    margin: 0 auto;
}

#loading-bar {
    position: fixed;
	width: 100%;
	height: 4px;
	z-index: 9999;
	top: 0;
}

.nanobar {
  width: 100%;
  height: 4px;
  z-index: 9999;
  top:0
}
.bar {
  width: 0;
  height: 100%;
  transition: height .3s;
  background:#000;
}